<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.entscheidungsbaum.android.solarMonitor"
	android:versionCode="1" android:versionName="1.0">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
	<application android:icon="@drawable/launcher_def"
		android:label="@string/app_name">
		<activity android:name=".SolarMonitor" android:label="@string/app_name"
			android:theme="@android:style/Theme.Wallpaper.NoTitleBar">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".subActivities.SettingsActivity"
			android:label="@string/app_name" android:theme="@android:style/Theme.Wallpaper.NoTitleBar">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".subActivities.SolarOperatingHours"
			android:label="@string/app_name" android:theme="@android:style/Theme.Wallpaper.NoTitleBar">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".subActivities.SolarRelaisActivity"
			android:label="@string/app_name" android:theme="@android:style/Theme.Wallpaper.NoTitleBar">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".subActivities.SolarSensorActivity"
			android:label="@string/app_name" android:theme="@android:style/Theme.Wallpaper.NoTitleBar">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".subActivities.SolarVolumeStreamActivity"
			android:label="@string/app_name" android:theme="@android:style/Theme.Wallpaper.NoTitleBar">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".subActivities.TemperatureChartActivity"
			android:label="@string/app_name" android:theme="@android:style/Theme.Wallpaper.NoTitleBar">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		
			<service android:name=".services.HttpSolarDataFetcherService"/>
		

	</application>
	<uses-sdk android:minSdkVersion="7" />

	<uses-permission android:name="android.permission.CALL_PRIVILEGED"></uses-permission>
	<uses-permission android:name="android.permission.CALL_PHONE"></uses-permission>
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
	<uses-permission android:name="android.permission.CAMERA"></uses-permission>
	<uses-permission android:name="android.permission.READ_CONTACTS"></uses-permission>


</manifest> 